<div
  class="d-flex justify-content-center flex-wrap align-items-center vh-100 overflow-hidden w-100"
  style="background: linear-gradient(to bottom right, #f8f7f8, #6f6fcf)"
>
  <div class="d-flex justify-content-center flex-wrap w-100 m-3">
    <div
      class="d-flex justify-content-center align-items-center flex-column flex-wrap border p-5 bg-white login_div m-md-3"
    >
      <div>
        <img
          src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg"
          alt="profile pic"
          class="img-fluid profile_img"
        />
      </div>
      <div class="d-flex flex-column gap-4 input_div">
        <input
          type="text"
          placeholder="Enter Phone No./Register Email"
          class="form-control text-center"
          #phoneOrEmail
        />
        <div class="password_container">
          <input
            [type]="password"
            placeholder="Password"
            class="form-control text-center"
            #userPassword
          />
          <span class="password_icon" (click)="toggleShowButton()">{{
            show ? "Hide" : "Show"
          }}</span>
        </div>
        <button class="btn btn-primary" (click)="handleLogin(phoneOrEmail,userPassword)">Submit</button>
        <p class="text-center" routerLink="/signUp">
          If you don't have an account,
          <span class="text-primary text-decoration-underline register_link"
            >register here</span
          >.
        </p>
      </div>
    </div>
  </div>
</div>
